.header {
    text-align: center;
    background-color: lightgreen;
}
.description {
    text-align: center;
    font-size: larger;
    font-style: oblique;
}
body {
    background-image: url("images/otherbackground.jpg");
    background-color: cornsilk;
}
.details{
    font-size: larger;
}